@charset "UTF-8"; 

@media screen and (max-width: 699px) {

    body {
        height: 100vh;
        display: grid;
        place-items: center;
    }

    header {
        display: none;
    }

    main {
        display: none;
    }

    section#erro {
        display: grid;
        place-items: center;
        background-color: rgb(204, 204, 204);
        width: 80%;
        border: 5px inset black;
        border-radius: 10px;
    }

    section#erro > p {
        padding: 30px;
        font-size: 1.5em;
    }

    .fa-rotate-left {
        text-align: center;
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.514);
        padding: 10px;
        border-radius: 10px;
        font-size: 5em;
    }
}